{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Edit Profile
{% endblock %}

{% block profile_link %}
    active-nav-link
{% endblock %}

{% block content %}

    <div class="profile">
        <div class="media">
            <div class="media-content">
                <img class="profile-img" src="{{ user.profile.image.url }}">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Profile Info</h2>
                    <form action="" method="POST" class="register-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ u_form|crispy }}
                            {{ p_form|crispy }}
                            <br/>
                            <button type="submit" class="form-submit">Update Profile</button>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <img src="{% static './images/profile-info.jpg' %}" alt=""/>
                </div>
            </div>
        </div>
</div>

<!--    <form action="" method="POST" enctype="multipart/form-data" style="margin-left: 25%; width: 48vw">-->

<!--        {% csrf_token %}-->
<!--        <h1 class="form-head">Profile Info</h1>-->
<!--        <br>-->
<!--        {{ u_form|crispy }}-->
<!--        {{ p_form|crispy }}-->
<!--        <br><br>-->
<!--        <button class="form-btn" type="submit" style="margin-left:38%; margin-bottom: 30px; width: 120px;">-->
<!--            Update Profile-->
<!--        </button>-->

<!--    </form>-->

{% endblock %}