{% extends 'base.html' %}

{% block title %}
    UserBlog
{% endblock %}

{% block content %}

<div class="content-wrapper">

    <div class="profile" style="margin-left: 25%; width: 48vw">
      <div class="media">
        <img class="profile-img" src="{{ object.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ object.username }}</h2>
          <p class="text-secondary">{{ object.email }}</p>

            {% if object == user %}
                <a class="detail-btn update-profile" href="{% url 'profile' %}">Edit Profile</a>
            {% endif %}

        </div>
      </div>
    </div>

    <h1>Blog by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})...</h1>
    <div class="portfolio-items-wrapper">
        {% for blog in objects %}
        <div class="portfolio-item-wrapper">
            <div
                    class="portfolio-img-background"
                    style="background-image: url({{ blog.dp_image.url }})"
            ></div>
            <div class="img-text-wrapper">
                <div class="logo-wrapper">
                    <img src="{{ blog.icon_image.url }}" alt=""/>
                </div>
                <div class="subtitle">
                    {{ blog.description }}
                </div>
                <a class="btn-detail" href="{% url 'blog-detail' blog.id %}" style="margin-bottom: 30px;">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>

        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}

</div>

{% endblock %}

